@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');

body {
  font-family: 'Baloo Bhaina 2', cursive;
  color: #362701;
  font-size: 21px;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.65;
  background-color: #ffd154;
}

click_c1 {
  /* cursor: pointer; */
}

click_d2 {
  /* margin-left: 300px; */
  /* cursor: pointer; */
}

h1 {
  text-align: center;
  font-size: 50pt;
}

nav {
  margin-bottom: 150px;
}

section {
  margin-bottom: 10%;
}

.grid1-container {
  display: grid;
}

.grid1-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid1-img {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 300px;
}

.grid1-text {
  grid-column: 1/2;
  grid-row: 3/4;
}

.grid2-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid2-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid2-text-1 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.grid2-text-2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.grid3-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid3-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid3-text-1 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.grid3-text-2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.grid4-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid4-hed {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid4-text-1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
